<form method = "POST" action = "">
    EMPLOYEE_ID <input type = "number" name = "EMPLOYEE_ID" />
    <br>
    NAME <input type = "text" name = "NAME" />
    <br>
    EMAIL <input type = "text" name = "EMAIL" />
    <br>
    CONTACT <input type = "text" name = "CONTACT" />
    <br>
    <button type = "submit" >Submit</button>
</form>
