<form method = "POST" action = "">
    EMPLOYEE_ID <input type = "number" name = "EMPLOYEE_ID" />
    <br>
    JOB_ID <input type = "text" name = "JOB_ID" />
    <br>
    JOB_DESC <input type = "text" name = "JOB_DESC" />
    <br>
    <button type = "submit" > Submit</button>
</form>